---
interface Props {
    class?: string;
    id?: string;
}

const { class: className, id, ...rest } = Astro.props;
---

<section id={id} class:list={["w-full bg-white rounded-xl", className]} {...rest}>
    <slot />
</section>
